@{
    ViewData["Title"] = "Lab2";
}

@model Lab2Model

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true">
</head>
<body>
    <div class="container">
        <header>
            <h1>Лабораторная работа №2</h1>
            <h2>Вариант №2</h2>
            <p>Выполнить шифрование строки исходного текста, методом RSA, используя в качестве p и q простые числа с разрядностью не меньшей шестнадцати</p>
        </header>

        <form asp-action="Lab2" method="post">

            <input type="hidden" name="P" value="@Model.P" />
            <input type="hidden" name="Q" value="@Model.Q" />
            <input type="hidden" name="N" value="@Model.N" />
            <input type="hidden" name="D" value="@Model.D" />
            <input type="hidden" name="E" value="@Model.E" />
            <input type="hidden" name="Y" value="@Model.Y" />

            <div class="form-group">
                <label for="inputText">Исходный текст для шифровки:</label>
                <textarea id="inputText" name="inputText" class="form-control">@ViewBag.InputText</textarea>
            </div>
            <button type="submit" name="action" value="generateKeys" class="btn btn-primary">Сгенерировать ключи</button>
            <button type="submit" name="action" value="encrypt" class="btn btn-primary">Шифровать</button>
            <button type="submit" name="action" value="decrypt" class="btn btn-primary">Дешифровать</button>
        </form>

        @if (Model != null && Model.D != 0)
        {
            <h2>Результаты</h2>
            <p><strong>@Model.ToString()</strong></p>
            @if (!string.IsNullOrEmpty(@ViewBag.EncryptedText))
            {
                <p><strong>Зашифрованный текст:</strong> @ViewBag.EncryptedText</p>
            }

            @if (!string.IsNullOrEmpty(@ViewBag.DecryptedText))
            {
                <p><strong>Расшифрованный текст:</strong> @ViewBag.DecryptedText</p>
            }
        }
    </div>
</body>
</html>

